# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Development
VITE_TMDB_API_KEY=d7ac09c9c5c7c8cbe856bf8e51570dac
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_BACKEND_URL=http://localhost:5000/api 

# Important: Vite prefix is VITE_. Access in code via import.meta.env.VITE_TMDB_API_KEY.



# Production